.playlist {
  position: absolute;
  left: 10%;
  top: 10%;
  right: 10%;
  bottom: 10%;
  border: 0.15rem solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  background: white;
  z-index: 100;
  overflow: auto;
}

.playlist::-webkit-scrollbar {
  display: none;
}

.close-playlist-button {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  padding: 0.2rem;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: 300ms background-color ease-in-out;
}

.close-playlist-button:hover {
  background-color: rgba(128, 128, 128, 0.288);
}

.header {
  text-align: center;
}

.album-artist-name {
  color: gray;
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  padding-bottom: 0.7rem;
}

.album-name,
.folder-name {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.playlist-song {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 0.1px solid black;
  padding: 2rem 0;
  height: 3.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.playlist-song:hover {
  background-color: rgba(128, 128, 128, 0.288);
}

.center {
  display: flex;
  justify-content: center;
}

.playlist-song-number {
  flex: 0 0 2rem;
}

.playlist-song-cover {
  flex: 0 0 auto;
}

.playlist-song-cover img {
  height: 3rem;
  border-radius: 0.2rem;
}

.playlist-song-name {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 1rem;
}

.playlist-song-duration {
  flex: 0 0 3rem;
}
