.add-songs {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-songs-button {
  display: flex;
  flex-direction: column;
  align-items: center;  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add-songs label {
  border: 0.15rem solid black;
  background: none;
  outline: none;
  padding: 1rem 1rem;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: 300ms background ease-in-out;
}

.add-songs label:hover {
  background: rgba(128, 128, 128, 0.288);;
}

.add-songs button svg {
  font-size: 1.5rem;
}

.add-songs-button input[type='file'] {
  display: none;
}
