.add-button {
  border: 0.2rem solid black;
  border-radius: 0.3rem;
  padding: 0.5rem 2rem;
  outline: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms background-color ease-in-out;
}

.add-button:hover {
  background-color: rgba(128, 128, 128, 0.288);
}
